<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>{{ num }}</p>
        <p>{{ doubleNum }}</p>

        <div v-bind:id="id" v-bind:class="name">v-bind 샘플</div>

        <div v-if="loading">
            Loading ...
        </div>
        <div v-else>
            Loading Completed
        </div>
        <div v-show="loading">
            this is v-show
        </div>
        <br/>
        <input v-model="message" placeholder="여기를 수정해보세요">
        <p>메시지: {{ message }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    new Vue({
        el : '#app',
        data : {
            num : 10,
            id : "abc123",
            name : "div-tag-1",
            loading : true,
            message : ""
        },
        computed : {
            doubleNum : function() {
                return this.num * 2
            }
        }
    })
    </script>
</body>
</html>